{% extends "page.html" %}

{% block primary %}

    {% block date_links %}
        <a href="{{ h.url_for('xroad.errors', date=error_list.previous) }}">Previous</a>
        <a href="{{ h.url_for('xroad.errors', date=error_list.next) }}">Next</a>
    {% endblock %}

    <h1>Errors for {{ h.render_datetime(error_list.date) }}</h1>
    <h2>Other errors</h2>
    <table class="table table-bordered" style="table-layout:fixed;">
        <thead>
        <tr>
            <th style="width: 10%">{% trans %}Created{% endtrans %}</th>
            <th style="width: 10%">{% trans %}Subsystem{% endtrans %}</th>
            <th style="width: 10%">{% trans %}Service{% endtrans %}</th>
            <th style="width: 35%">{% trans %}Message{% endtrans %}</th>
            <th style="width: 10%">{% trans %}Server code{% endtrans %}</th>
            <th style="width: 10%">{% trans %}Security category code{% endtrans %}</th>
            <th style="width: 10%">{% trans %}Group code{% endtrans %}</th>
            <th style="width: 5%">{% trans %}Code{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for error in error_list.other_errors %}
            <tr>
                <td>{{ h.render_datetime(error.created) }}</td>
                <td>{{ error.xroad_instance }}.{{ error.member_class }}.{{ error.member_code }}.{{ error.subsystem_code }}</td>
                <td>{{ error.service_code }}.{{ error.service_version }}</td>
                <td>{{ error.message }}</td>
                <td>{{ error.server_code }}</td>
                <td>{{ error.security_category_code }}</td>
                <td>{{ error.group_code }}</td>
                <td>{{ error.code }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>Rest services failed to fetch</h2>
    <table class="table table-bordered" style="table-layout:fixed;">
        <thead>
        <tr>
            <th style="width: 10%">{% trans %}Created{% endtrans %}</th>
            <th style="width: 10%">{% trans %}Subsystem{% endtrans %}</th>
            <th style="width: 10%">{% trans %}Service{% endtrans %}</th>
            <th style="width: 35%">{% trans %}Message{% endtrans %}</th>
            <th style="width: 10%">{% trans %}Server code{% endtrans %}</th>
            <th style="width: 10%">{% trans %}Security category code{% endtrans %}</th>
            <th style="width: 10%">{% trans %}Group code{% endtrans %}</th>
            <th style="width: 5%">{% trans %}Code{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for error in error_list.rest_services_failed_errors %}
            <tr>
                <td>{{ h.render_datetime(error.created) }}</td>
                <td>{{ error.xroad_instance }}.{{ error.member_class }}.{{ error.member_code }}.{{ error.subsystem_code }}</td>
                <td>{{ error.service_code }}.{{ error.service_version }}</td>
                <td>{{ error.message }}</td>
                <td>{{ error.server_code }}</td>
                <td>{{ error.security_category_code }}</td>
                <td>{{ error.group_code }}</td>
                <td>{{ error.code }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ self.date_links() }}

{% endblock %}