{% extends "page.html" %}

{% block primary %}

    <a href="{{ h.url_for('xroad.errors', date=error_list.previous) }}">Previous</a>
    <a href="{{ h.url_for('xroad.errors', date=error_list.next) }}">Next</a>

    <h1>Errors for {{ h.render_datetime(error_list.date) }}</h1>
    <h2>Other errors</h2>
    <table class="table table-bordered" style="table-layout:fixed;">
        <thead>
        <tr>
            <th style="width: 20%">{% trans %}Created{% endtrans %}</th>
            <th style="width: 60%">{% trans %}Message{% endtrans %}</th>
            <th style="width: 20%">{% trans %}Code{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for error in error_list.other_errors %}
            <tr>
                <td>{{ h.render_datetime(error.created) }}</td>
                <td>{{ error.message }}</td>
                <td>{{ error.code }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>Rest services failed to fetch</h2>
    <table class="table table-bordered" style="table-layout:fixed;">
        <thead>
        <tr>
            <th style="width: 20%">{% trans %}Created{% endtrans %}</th>
            <th style="width: 60%">{% trans %}Message{% endtrans %}</th>
            <th style="width: 20%">{% trans %}Code{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for error in error_list.rest_services_failed_errors %}
            <tr>
                <td>{{ h.render_datetime(error.created) }}</td>
                <td>{{ error.message }}</td>
                <td>{{ error.code }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ h.url_for('xroad.errors', date=error_list.previous) }}">Previous</a>
    <a href="{{ h.url_for('xroad.errors', date=error_list.next) }}">Next</a>

{% endblock %}